/composer.lock
/composer.phar
/phpunit.xml
/.phpunit.result.cache
/phpunit.phar
/config/Migrations/schema-dump-default.lock
/vendor/
/.idea/
.phpdoc/*
docs/*
!docs/config
!docs/build.sh
!docs/README.md